.wmata-schedule {
  @include span-columns(6);
  @include shift(3);

  td.line {
    width: 2em;
  }

  td.station, th.station {
    padding-left: 1em;
    padding-right: 1em;
    font-weight: bold;
  }


  td.minutes, th.minutes {
    font-weight: bold;
    text-align: right;
  }

  .close-train {
    color: red;
  }

  .far-train {
    color: green;
  }

  .navigation {
    text-align: center;
  }
  .nav-btn {
    @include margin(null 0.25em null 0.25em);
    color: #fff;
    &:hover,
    &:focus {
      color: $dark-gray;
      background: lighten($light-gray, 5%);
    }
  }

  .OR {
    background: $orange;
    color: $dark-gray;
  }

  .BL {
    background: $blue;
  }

  .RD {
    background: $red;
  }

  .GR {
    background: $green;
  }

  .SV {
    background: $silver;
  }

  .YL {
    background: $yellow;
    color: $dark-gray;
  }
}

