.home {
  @include outer-container;
}

.wmata-schedule {
  @include span-columns(4);
  @include shift(4);
}

td.line {
  width: 2em;
}

td.station, th.station {
  padding-left: 1em;
  padding-right: 1em;
  font-weight: bold;
}


td.minutes, th.minutes {
  font-weight: bold;
  text-align: right;
}

.close-train {
  color: red;
}

.far-train {
  color: green;
}

.blink-me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}


.nav-btn {
  @include margin(null 0.25em null 0.25em);
  color: #fff;
  &:hover,
  &:focus {
    color: $dark-gray;
    background: lighten($light-gray, 5%);
  }
}

.OR {
  background: $orange;
  color: $dark-gray;
}

.BL {
  background: $blue;
}

.RD {
  background: $red;
}

.GR {
  background: $green;
}

.SV {
  background: $silver;
}

.YL {
  background: $yellow;
  color: $dark-gray;
}

.navigation {
  text-align: center;
}
